.imageAndTextContainer {
    border: 1px solid red;
    position: relative;
    height:auto;
}

.ourStoryH1 {
	text-align: center;
	margin-top: 30px;
}

hr {
    width: 60%;
    margin: 0 auto 50px auto;    
}

.ourStoryP {
    background-color: #1e0f9e;
        color: white;
        padding: 20px;
        width: 100%;
        font-weight: 600;
}

.imgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.300);
    
}

img {
	width: 100%;
}
span {
    color: #17997a;
    font-weight: bold;
    font-size: 1.2rem;
}

      /* MEDIA QUERY */

@media only screen and (min-width: 768px) {

    .imageAndTextContainer {
        height: 66vh;
    }
    
	.ourStoryP {
        position: relative;
		font-weight: bold;
        text-align: center;
        margin: 0px auto 100px auto;
        height: 180px;
        width: 100%;
	}	
    p {
        position: absolute;
        top: -100px;
    }
    .imgOverlay {
        background-color: rgba(0, 0, 0, 0.500);
    }
}
