@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@500&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');

body {
    margin: 0 auto;
    height: 2000px;
    max-width: 100%;
    box-sizing: border-box;
    color:#000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
} 

.fakenav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: baseline;
    height: 100px;
    left: 0px;
    top: 0px;
    right:0px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.fakenavlist {
    display:none;
}

.fakebutton {
    position:  relative;
    bottom: 10px;
    background-color: #1E0F9E;
    color: #FFFFFF;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}


.navsiteheading {
    position: relative;
    margin: 0 auto;
    top: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.02em;
}

h2 {
    font-family: 'Raleway';
    font-style: normal; 
    font-size: 40px; 
    color: #000000;
}

.contactintro {
    text-align: center;
}
.contactsection {
    height: 2000px;
}

.contactintroimage {
    margin: 15px auto;
    position: relative;
    width: 50%;
    height: auto;
}

.contactintroheading {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-style: normal;
    font-weight: 700;
    font-size:32px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #1E0F9E;
}

.contactsocialcontainer {
    width: 80%;
    position: absolute;
    left: 10%;
    right:10%;
    top: 200px;
    text-align: center;
}

.contactintroblurb {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.contactsocialmedia {
    display:grid;
    column-gap: 2px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 1em;   
}

.contactintroicon {
    width:60px;
    height: 60px;
}

.contactintroicondesc {
  margin:0;
  display: grid;
  align-self: start;
  text-align: center;
}

/* Media Queries */


/* only 2 breakpoints general mobile and then laptop */
/*laptop breakpoint */
/* @media only screen and (min-width: 376px) { */
@media only screen and (min-width: 768px) {
   .fakenavlist {
        margin-right:36px;
        height: 40px;
        display: flex;
        gap: 20px;
        list-style: none;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
    }

    .navsiteheading {
        position: relative;
        margin: 0;
        top: 18px;
        left: 57px;
    }  
    
    .contactintroimage {
        margin: 15px 0 0 200px;
        /* position: relative; */
    }
    .contactintroheading {
        position: absolute;
        top: 200px;
        left: 470px;    
        font-size: 48px;
    }    
    .contactsocialcontainer {
        width: 620px;
        position: absolute;
        top: 300px;
        left: 550px;
    }
    .contactintroblurb {
        font-size: 30px; 
    }

    .contactsocialmedia {
        column-gap: 4px;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1em; 
    }
}

/* only breakpoints general ipad */

/* @media only screen and (min-width: 375px) and (max-width: endofipad) {
} */