@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@600&display=swap');

:root {
  --color-black: #000;
  --color-blue: #1E0F9E;
  --color-lightgreen: #6AE3C6;
  --color-green: #17997A;
}

a {
  text-decoration: none;
}

.home-page {
  font-size: 1rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  color: var(--color-black);
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
}


/* HERO */
.hero-wrap {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('hero.webp');
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.message:hover {
  background-color: yellow;
}

.logo-wrap img {
  max-width: 40%;
  height: auto;
}

.content-wrap {
  display: flex;
  gap: 4rem;
  width: 80vw;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
  margin-top: 7rem;

}

.left-box {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.left-box h1 {
  text-align: left;
  margin-bottom: 0;
}

#eduheading {
  margin-left: 0;
}

.left-box h4 {
  text-align: left;
  margin-left:0;
}

.left-box .buttons {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.left-box .buttons button {
  width: 9rem;
  padding: 0.6rem;
  font-size: 0.8rem;
  font-weight: 600;
}

/* WELCOME */
.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  gap: 2rem;
  margin-top: -1rem;
}

.welcome-img {
  flex: 1.5;
}

.welcome-img img {
  width: 100%;
  height: auto;
}

.welcome-text {
  flex: 1;
  padding: 0 1rem;
  text-align: center;
}

.welcome-text h3 {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.welcome-text p {

  line-height: 1.8;
  margin-bottom: 3rem;
}

.welcome button {
  width: 12rem;
  font-size: 0.8rem;
  font-weight: 600;

}

/* PROGRAMMES */
.programmes {
  margin-top: -5rem;
  margin-bottom: -10rem;
}

.programmes h3 {
  text-align: center;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 12rem;

}

.text {
  padding: 1.2rem;
  margin-top: 1rem;
  flex: 1;
  flex-basis: 100%;

}

.text p {
  line-height: 1.8;
  text-indent: 1rem;
  color: var(--color-black);
}

.photos {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photos>div {
  margin: 0 10px;
  text-align: center;
}

.photos>div>img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.photos h4 {
  margin-bottom: 2rem;
  color: var(--color-blue)
}

.photos p {
  margin-top: 1rem;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .home-page {
    font-size: 0.5rem;
  }

  .hero-wrap {
    height: 50vh;
  }

  .content-wrap {
    margin: auto;
    flex-direction: column;
    gap: 1rem;
  }

  .left-box {
    width: 10rem;
    gap: 0;
  }

  .left-box h1 {
    font-size: large;

  }

  .left-box h4 {
    text-align: center;
    font-size: small;

  }

  .left-box .buttons {
    gap: 0.5rem;
    flex-direction: column;

  }

  .left-box .buttons button {
    width: 7rem;
    padding: 0.5rem;
    font-size: 0.6rem;
  }

  .logo-wrap img {
    max-width: 100px;
    height: auto;
    margin-right: 2rem;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .welcome-text p {
    font-size: 0.7rem;
  }

  .welcome button {
    margin-top: -3rem;
    font-size: 0.6rem;
  }

  .welcome-img {
    margin-top: -3rem;
    margin-bottom: 2rem;
  }

  .programmes h3 {
    font-size: 1.5rem;
    margin-top: px;
  }

  .text p {
    font-size: 0.7rem;
    margin-top: -1rem;
  }

  .photos {
    justify-content: center;
  }

  .photos h4 {
    font-size: 1rem;
  }
}

/* TABLET */
@media only screen and (min-width: 601px) and (max-width: 870px) {

  .hero-wrap {
    height: 70vh;
  }

  .content-wrap {
    margin-top: 12rem;
  }

  .left-box h1 {
    font-size: 2rem;
  }

  .left-box .buttons button {

    font-size: 1rem;
  }

  .welcome {
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-direction: ;
  }

  .welcome-text h3 {
    font-size: 1.5rem;
  }

  .welcome button {
    font-size: 1rem;
  }

  .programmes {
    margin-top: 4rem;
  }

  .text p {
    font-size: 0.8rem;
  }

  .photos {
    justify-content: center;
  }

}

@media only screen and (min-width: 871px) and (max-width: 1024px) {

  .hero-wrap {
    height: 50vh;
  }

  .left-box h1 {
    font-size: 2rem;
    margin-left: 0;
  }


  .left-box .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1.5rem;
  }

  .left-box .buttons button {
    font-size: 1rem;
  }

  .welcome {
    margin-top: 4rem;
  }

  .welcome button {
    width: 15rem;
    font-size: 1rem;
  }

  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .programmes {
    margin-top: 3rem;
  }

  .photos {
    justify-content: center;
  }
}


@media only screen and (min-width: 1440px) {
  .home-page {
    font-size: 1.5rem;
  }

  .hero-wrap {
    height: 100vh;
  }

  .content-wrap {
    margin-top: 15rem;
  }
  .logo-wrap {
    text-align: center;
  }

  .left-box h1 {
    margin-left: 0;
    font-size: 3rem;
  }

  .left-box h4 {
    font-size: 2rem;
    padding: 10px 50px 0 0;
  }

  .left-box .buttons button {
    width: 14rem;
    padding: 1rem;
    font-size: 1.5rem;
  }


  .left-box .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 1.5rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .welcome {
    margin-top: -2rem;
  }

  .welcome-text h3 {
    font-size: 3rem;
  }

  .welcome-text p {
    font-size: 1.5rem;
  }

  .welcome button {
    padding: 1rem;
    font-size: 1.5rem;
    width: 18rem;

  }

  .programmes {
    margin-top: -7rem;
  }

  .programmes h3 {
    font-size: 3rem;
  }

  .text p {
    font-size: 1.5rem;
  }

  .photos>div>img {
    max-width: 400px;
  }

}