@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@500&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');

body {
    margin: 0 auto;
    /* height: 2000px; */
    max-width: 100%;
    box-sizing: border-box;
    color:#000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
} 

.contactsection {
    margin: 20px;
}

.contactintro {
    position: relative;
    display: inline-block;
    text-align: center;
}

.contactcentered {
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

h2 {
    font-family: 'Raleway';
    font-style: normal; 
    font-size:24px;
    color: #000000;
}

.contactintroimage {
    margin: 50px auto;
    width: 50%;
    height: auto;
}

.contactintroheading {
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #1E0F9E;
}

.contactintroblurb {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

/* Media Queries */
/* only 2 breakpoints general mobile and then laptop */
/*laptop breakpoint */


@media only screen and (min-width: 375px) {

    .coontactsection {
        width: 100vh;
    }

    .contactintro {    
        display: block;
        position: relative;
        margin: 100px auto 0px;
    } 

    
    .contactcentered {
        position: absolute;
        top:25%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    .contactintroimage {
        margin: 15px auto;
        height: 200px;
        width: auto;
    }

    .contactintroheading {
        font-size: 36px;
    } 

    .contactsocialcontainer {
        width: 620px;
        margin: 50px auto;
        bottom: 200px;
    }
    .contactintroblurb {
        font-size: 24px; 
    }
}

