.photosContainer {
	padding: 5px;
}

.photosContainer h1 {
    margin-left: 0;
}

.carouselContainer {
	overflow: hidden;
}

.carouselCard {
	margin-top: 20px;
    text-align: center;
}

.imageContainer {
	position: relative;
}

.imageContainer img {
	width: 100%;
	height: 60vh;
	border-radius: 20px;
    object-fit: cover;
}
.carouselThumbnails img {
	display: none;
	width: 70px;
	max-height: 70px;
}

.carouselText {
	display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 0.8rem;
}

.right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
	border-radius: 50%;
}

.left {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
	border-radius: 50%;
}

.imageContainer:hover .left,
.imageContainer:hover .right {
background-color: rgba(0, 0, 0, 0.343);
}
