:root {
	--color-black: #000;
	--color-blue: #1e0f9e;
	--color-lightgreen: #6ae3c6;
	--color-green: #17997a;
}

.photosContainer {
	position: relative;
}

.photosContainer h1 {
	margin-left: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.carouselContainer {
	width: 100%;
	margin: auto;
}

.carouselCard {
	text-align: center;
	padding-top: 15px;
}

.imageContainer {
	position: relative;
}

.imageContainer {
	width: 100%;
	height: 450px;
}
.imageContainer img {
	max-height: 450px;
	width: auto;
}

.carouselText {
	display: flex;
	justify-content: center;
	flex-direction: column;
	line-height: 0.5;
}

.right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
	border-radius: 50%;
	cursor: pointer;
}

.left {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
	border-radius: 50%;
	cursor: pointer;
}

.carouselCard:hover .left,
.carouselCard:hover .right {
	background-color: #1d0f9e55;
}

.formContainer {
	margin-top: 0px;
	padding: 5px;
	text-align: center;
}

.carouselCard {
	background-color: #17997a;
}

.formContainer select {
	text-align: center;
}

.imageModal {
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
}

.imageModal img {
	width: auto;
	height: 80vh;
	margin-bottom: 80px;
	
}
/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
	.carouselCard {
		padding: 5px;
		margin: 5px;
		max-width: 80vw;
		margin: auto;
		border-radius: 20px;
		margin-bottom: 50px !important;
		background-color: unset;
		padding: 20px;
	}
	.carouselCard:hover {
		border: 1px solid #17997a;
		background-color: #bfbfbf56;
	}

	.carouselCard:hover .left,
	.carouselCard:hover .right {
		background-color: #17997a;
	}

	.photosContainer h1 {
		font-size: 2.4rem;
		text-align: center;
	}
	.carouselTextContainer h3 {
		font-size: 1.7rem;
	}
	.carouselTextContainer p {
		font-size: 1.1rem;
	}
	.formContainer {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	.carouselTextContainer {
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
	}

	.imageContainer img {
		height: 400px;
		width: auto;
		max-width: 550px;
		border-radius: 5px;
	}
	.imageModal img {
		width: auto;
		margin-bottom: 80px;
	}

	.titleDiv {
		background-color: #d5d5d559;
		margin-bottom: 50px;
		padding: 5px;
	}

	.titleDiv h1 {
		margin-top: 20px;
	}

	.titleDiv hr {
		display: none;
	}
}

@media only screen and (min-width: 962px) {
	.carouselCard {
		padding: 5px;
		margin: 5px;
		margin: inherit;
		max-width: 80%;
	}

	.imageModal img {
		height: 80vh;
		width: auto;
		margin-bottom: 50px;
	}
	.carouselContainer {
		max-width: 85vw;
	}
	.carouselCard h3 {
		font-size: 1.9rem;
	}
	.carouselCard p {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 1200px) {
	.carouselCard {
		padding: 5px;
		margin: 5px;
		max-width: 65%;
		margin: auto;
	}
	.imageContainer img {
		width: auto;
		max-width: 90%;
	}

	.photosContainer h1 {
		font-size: 2.6rem;
	}

	.carouselCard h3 {
		font-size: 2rem;
	}
	.carouselCard p {
		font-size: 1.3rem;
	}

	.imageModal img {
		width: auto;
		height: 85vh;
		margin-bottom: 35px;
	}
}
