@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@500&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');

body {
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    color:#000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
} 

.ourprogrammes {
    margin: 20px;
}

.ourprogrammesintro {
    position: relative;
    display: inline-block;
    text-align: center;
}

.ourprogrammescentered {
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.ourprogrammetypes {
    background-color: aqua;
    padding: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


.ourprogrammesheading {
    margin: 2em 0;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #1E0F9E;
}

.ourprogrammeslist{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;  
}
.ourprogrammesparagraphs {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

/* Media Queries */
/* only 2 breakpoints general mobile and then laptop */
/*laptop breakpoint */

/* 
@media only screen and (min-width: 375px) {

    .coontactsection {
        width: 100vh;
    }

    .contactintro {    
        display: block;
        position: relative;
        margin: 100px auto 0px;
    } 

    
    .contactcentered {
        position: absolute;
        top:25%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    .contactintroimage {
        margin: 15px auto;
        height: 200px;
        width: auto;
    }

    .contactintroheading {
        font-size: 36px;
    } 

    .contactsocialcontainer {
        width: 620px;
        margin: 50px auto;
        bottom: 200px;
    }
    .contactintroblurb {
        font-size: 24px; 
    }
}
 */
