@import url("https://fonts.googleapis.com/css2?family=DM+Sans:400,700,500");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@500&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');

.pageText {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  color:black;
}

.personHeading{
  font-family: 'Raleway';
  font-style: normal;
  color:#1E0F9E;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
.container{
    background:linear-gradient(45deg, rgb(30, 15, 158), rgb(106, 227, 198));
    padding:15px 9%;
    padding-bottom: 100px;
}
.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}
.container .button-outline{
  height: 50px;
  width: 170px;
  bottom: 20;
  margin: 0;
  text-align: center;
  border-radius: 100px;
  background-color: #25DAC5;
  color:#fff;
  font-size: 20px;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.container .our-people{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:15px;
}
.container .our-people .member-1{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}
.container .our-people .member-1 .mask-icon{
    height: 80px;
}
.container .our-people .member-1 h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}
.container .our-people .member-1 p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}
.container .our-people .member-1 .nicole-fisher5 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #1E0E62;
}
.product-manager {
  letter-spacing: 2px;
  line-height: 26px;
  text-transform: uppercase;
  color: #25DAC5;
}
.nicole-fisher {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #1E0E62;
}
.container .our-people .btn{
    background-color: #25DAC5;
    border-radius: 100px;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.container .our-people  .btn:hover{
    letter-spacing: 1px;
}
.btn{
  background-color: #25DAC5;
  border-radius: 100px;
  height: 100px;
  width: 100px;
}
.container .our-people .member-1:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
@media (max-width:768px){
    .container{
        padding:20px;
    }
    .container .our-people{
      display: grid;
      grid-template-columns:  auto;
      gap:15px;
  }
  .container .our-people .member-1{
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      border-radius: 5px;
      background: #fff;
      text-align: center;
      padding:30px 20px;
  }
}
/* @media (max-width:908px){
  .container{
      padding:20px;
  }
  .container .our-people{
    display: grid;
    grid-template-columns: auto auto;
    gap:15px;
}
.container .our-people .member-1{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}
} */
