@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000;
  --color-blue: #1E0F9E;
  --color-lightgreen: #6AE3C6;
  --color-lightergreen: #98E4D2;
  --color-green: #17997A;
  --color-darkgreen: #0c5d4a;
}

html {

  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: var(--color-blue);
}

body {
  background-color: var(--color-lightgreen);

  min-height: 100vh;
  margin: 0 auto;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 300px;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: var(--color-black);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 1rem;

}

button:hover {
  background-color: var(--color-blue);
}
.instructions {
  font-size: 0.7rem;
  border-radius: 0.5rem;
  background: var(--color-blue);
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: green;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: white;
  color: red;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
