
.theProblemTitle {
	background-color: ;
}

.theProblemContent {
	display: flex;
	flex-direction: column;
}

.mainContainer {
	width: 100%;
	padding-top: 10px;
}

.mainContainer h1 {
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.mainContainer hr {
	display: none;
}

.theProblemContent img {
	width: 100%;
}

.theProblemTextContainer {
	padding: 12px;
	background-color: #17997b;
}

.theProblemContent p {
	font-size: 1.1em;
	line-height: 1.5;
}

.theProblemContent p:first-child {
	padding-top: 10px;
}

/* media queries  */
@media only screen and (min-width: 768px) {
	.mainContainer {
		text-align: center;
		margin-bottom: 50px;
	}

	.theProblemContent {
		margin: auto;
		max-width: 700px;
	}

	.theProblemContent img {
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}

	.theProblemContent p {
		font-size: 1.3rem;
		background-color: unset;
		line-height: 1.2;
	}
	.mainContainer hr {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 992px) {
	main {
		overflow: scroll;
	}
	.mainContainer{
		height: 80vh;
		margin-bottom: 0;
	}
	.theProblemContent {
		/* position: relative; */
		display: flex;
		flex-direction: row;
		max-width: 85%;
	}

	.theProblemContent img {
		/* position: absolute; */
		/* left: 45px;
		top: -50px; */
		margin-top: 100px;
		max-width: 400px;
		border-radius: unset;
		height: 280px;
	
	}
	.theProblemTextContainer {
		padding: 10px;
		background-color: unset;
		max-width: 75%;
		
	}

	.theProblemTextContainer p {
		font-size: 0.95rem;
		line-height: 1.05;
	}

	.backgroundDiv {
		display: flex;
		/* justify-content: flex-end; */
		justify-content: center;
		/* max-width: 650px; */
		margin-left: auto;
		background-color: #17997b;
		border-radius: 5px;
		margin-bottom: 50px;
	}
	.theProblemTitle {
	margin-bottom: 120px;
	
}

.theProblemTitle h1 {
	margin: unset;
}

}

@media only screen and (min-width: 1060px) {
	.mainContainer{
		max-width: 950px; 
		 margin-left: auto; 
		 margin-right: 10%;
		 margin-bottom: 300px;
	}

	.theProblemTextContainer p {
		font-size: 1.1rem;
		line-height: 1.05;
	}
	
	
	.theProblemContent img {
		left: 40px;
	}
	.theProblemTextContainer {
		max-width: 70%;
	}

}

@media only screen and (min-width: 1280px) {
	.mainContainer {
	margin-left: auto;		
	margin-right: auto;		
	
	height: 90vh;
	}
	

	.theProblemContent img {
		max-width: 450px;
		left: -120px;
		height: 300px;

	}
	.theProblemTextContainer {
		height: 470px;
	}

	.theProblemTextContainer p {
		font-size: 1.02rem;
		margin-right: 15px;
	}

	


}
