.trainingMaterialsPage {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    overflow-x: visible;
}

.trainingMaterialsPage h2 {
    margin-bottom: 20px;
    text-align: center;
}

.trainingMaterialsPage table {
    width: 100%;
    border-collapse: collapse;
}

.trainingMaterialsPage th,
.trainingMaterialsPage td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    
}

.trainingMaterialsPage th {
    background-color: #f2f2f2;
}

.trainingMaterialsPage button {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
}

.trainingMaterialsPage button:hover {
    background-color: #c82333;
}

@media only screen and (max-width: 768px){
    
    .trainingMaterialsPage th, 
    .trainingMaterialsPage td {
        font-size: 0.8rem;
        
    }
}