@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@600&display=swap');


footer {
  background-color: #1E0F9E;
  color: white;
  font-size: 0.9rem;
  position: relative;
}

footer * {
  box-sizing: border-box;
  border: none;
  outline: none;
}

footer .row {
  padding: 1em 1em;
}
footer .row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: stretch;
}
footer .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 12em;
}
 footer h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
} 
 footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
footer li:not(:first-child) {
  margin-top: 0.8em;
}
footer ul li a {
  color: #6AE3C6;
  text-decoration: none;
}
footer ul li a:hover {
  color: #E95B59;
}
footer .about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

 footer div.social {
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
footer div.social a {
  color: #ffffff;
}


footer .copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
  height: 4rem;
}
.footer-menu{
  float: left;
    margin-top: 10px;
}

.footer-menu a{
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyright p {
  font-size: 0.6rem;
  text-align: right;
}
.scroll-to-top {
  position: absolute;
  bottom: 10rem;
  right: 0.2rem;
  background-color: #5767aa;
  color: #fff;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 5%;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999;
}

.scroll-to-top:hover {
  background-color: #27bcda;
}

@media screen and (max-width: 850px) {
  footer .row.primary {
    grid-template-columns: 1fr;
  }

}  