@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:400,700,500");


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "DM Sans";
}

:root {
	--mainColor: #2F1893;
	--mainColorLight: #5767aa;
	--secondaryColor: #25DAC5;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}


.header-buttons2 {
  display: none;
}
/* .header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

.small-s{
	display: none;
}

.header-buttons2 {
  display: none;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.valign-text-middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-fill {
  align-items: flex-start;
  background-color: var(--secondaryColor);
  border-radius: 100px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  min-width: 92px;
  padding: 8px 16.9px;
}

.small-white-outline {
  align-items: flex-start;
  border-radius: 100px;
  display: flex;
  height: 40px;
  min-width: 92px;
  padding: 8px 16.9px;
}

.sign-up{
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  min-width: 57px;
  text-align: center;
  white-space: nowrap;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav{
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
		z-index: 10;
	}

  .header-buttons2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-buttons {
    display: none;
  }

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
	.small-s {
		display: flex;
	}

	.small-s {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}
}
}
